
 <%= stylesheet_link_tag    'clients', media: 'all', 'data-turbolinks-track': 'reload' %>
 <br>
 <br>
  <br>
 <br>
  <br>
<div class="container" align="center" style="border: 1px solid black; background-color: #202020; border-radius: 9px; padding-top: 12.5px; border-top: 2px solid black; border-bottom: 2px solid black;">
  <div class="row" align="center">
      <div class="thumbnail">
        <%= image_tag("lgr-customers-unitel.jpg", :alt => "protector", :size => "50x40") %>
          <div class="caption" align="center">
            <strong >Unitel - 2013</strong>
          </div>
        </a>
      </div>
      <div class="thumbnail">
                <%= image_tag("c7a457f01a93bfe5e42c62a264bb65a5.jpg", :alt => "protector", :size => "50x40") %>
          <div class="caption" align="center">
            <strong>Banco Bic - 2010</strong>
          </div>
        </a>
      </div>  
      <div class="thumbnail">
         <%= image_tag("unnamed.png", :alt => "protector", :size => "50x40") %>
          <div class="caption" align="center">
            <strong>Banco Caixa Geral - 2010</strong>
          </div>
        </a>
      </div>
      <div class="thumbnail">
         <%= image_tag("urrramed.png", :alt => "protector", :size => "50x40") %>
          <div class="caption" align="center">
            <strong>Bpc - 2007</strong>
          </div>
        </a>
      </div>
      <div class="thumbnail">
         <%= image_tag("60464-edp.png", :alt => "protector", :size => "50x40") %>
          <div class="caption" align="center">
            <strong>Edp - 2001</strong>
          </div>
        </a>
      </div>
    </div>
</div>
<br>
<br>
<br>
<br>
 <br>
 <br>
  <br>
   <br>
<br>
 