<HTML>
<HEAD>
 <%= stylesheet_link_tag    'bemvindos', media: 'all', 'data-turbolinks-track': 'reload' %>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</HEAD>
<BODY>
<div id="headline1">
<%= image_tag("pexels-photo-430208.jpeg", :alt => "protector", :size => "720x550", :class => "img-rounded") %>
</div>
<H1>
<div id="title">
BASLER
</div>
</H1>
<div id="filler">
BASLER, é uma empresa privada, de direito 100% Angolano, fundada em 2001.<br>
<br>
Sendo uma empresa relativamente recente a BASLER reúne uma equipa técnica com experiência nas TI em angola que remonta aos últimos oito anos,<br> abarcando as mais diversas áreas das Tecnologias de Informação e Telecomunicações. <br>
<br>
<strong>Profissionalismo, Integridade, Dinamismo, Competência, Inovação </strong> são valores que aliados a <br>experiência acumulada pelos anos de trabalho no ramo a BASLER oferecem a garantia da prestação de serviços da mais alta qualificação.<br>
<br>
Ciente de que o seu sucesso depende do sucesso dos seus clientes, mais do que um mero prestador de serviços, a <br>BASLER posiciona-se como um verdadeiro parceiro de negócio, tendo uma actuação que tem como objectivo compreender<br> as necessidades tecnológicas dos clientes e assumindo um compromisso constante tendo em vista a satisfação dessas necessidades<br>
</div>
<br>
<br>
<br>
<br>	
<br>
<br>
<br>
<br>
 <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
        <%= image_tag("lgr-customers-unitel.jpg", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
                <%= image_tag("c7a457f01a93bfe5e42c62a264bb65a5.jpg", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
         <%= image_tag("unnamed.png", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
         <%= image_tag("Vodafone-UK-APN-Settings.jpg", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
         <%= image_tag("urrramed.png", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
         <%= image_tag("60464-edp.png", :alt => "protector") %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

</BODY>

</HTML>