<!DOCTYPE html>
<html>
  <head>
    <title>Basler</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '1600.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans" rel="stylesheet"> 
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab" rel="stylesheet"> 
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
     <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Basler", root_path %></li>
            <li class="<%= 'active' if current_page?(services_path) %>"><%= link_to "Serviços", services_path %></li>
              <li class="<%= 'active' if current_page?(clients_path) %>"><%= link_to "Clientes", clients_path %></li>
       <li class="<%= 'active' if current_page?(mapas_path) %>"><%= link_to "Mapa", mapas_path %></li>
              <li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to "Mensagem", contacts_path %></li>
    </ul>
   <!--<button class="btn btn-danger navbar-btn">Email</button>-->
  </div>
</nav>  
  </head>
  <body>
    <% flash.each do  |key, value |%>
    <div class='alert alert-<%= key %> alert-dismissible'><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= value  %> 
    </div>
    <% end %>
  <%= yield %>
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
  <br>
  <br>
  <div id="contact-field">
   <table> 
    <%= image_tag("190587-people-culture (1).png", :alt => "rss feed" , :size => "250x250", :style => "opacity:0.8;filter:alpha(opacity=40); float: left;") %>
  <tr>
    <th >Sobre</th>
    <th>Produtos</th> 
    <th>Mapa</th>
    <th>Contacto</th>
  </tr>
  <tr>
    <td>FACEBOOK</td>
    <td>parenthesized subex‐ group ID differs fro</td> 
    <td> will not be executed until the command</td>
    <td>using white space as a word boundary</td>
  </tr>
  <tr>
    <td>TWITTER</td>
    <td>parenthesized subex‐ group ID differs fro</td> 
    <td> will not be executed until the command</td>
    <td>using white space as a word boundary</td>
  </tr>
    <tr>
    <td>LINKEDIN </td>
    <td>parenthesized subex‐ group ID differs fro</td> 
    <td> will not be executed until the command</td>
    <td>using white space as a word boundary</td>
  </tr>
    </tr>
    <tr>
    <td> TELEFONE </td>
    <td>parenthesized subex‐ group ID differs fro</td> 
    <td> will not be executed until the command</td>
    <td>using white space as a word boundary</td>
  </tr>
      <tr>  
    <td>rd before point is treated as a pattern for</td>
    <td> will not be executed until the command</td>  
    <td>using white space as a word boundary</td>
  </tr>
</table>
<br>
<br>
 <div align="center">
  <small >Copyright © 2018 BASLER LTD. All rights reserved.</small>
</div>
  </div>

  </body>
</html>

